* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

.App{
    background-color: #f0ebf8;
    /* background-color: rgba(255,255,255,.25); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    font-size: 24pt;
}
.email{
    font-weight: 700;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 20px;
    color: #5f6368;
}
.switch-account{
    color: #1a73e8;
    cursor: pointer;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
}
.email-switch-cloud{
  display: flex;
  justify-content: space-between;
}
.icon{
  opacity: 0.6;
}
.upload-icon{
  color: #1a73e8;
}
.desc-text{
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #5f6368;
    margin-top: 12px;
}
.red{
    color: rgb(217,48,37);
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
}
.red-star{
    color: rgb(217,48,37);
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box{
    width: 100%;
    padding: 24px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dadce0;

    display: flex;
    flex-direction: column;
}
span{
    font-size: 12pt;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}

.description{
    border: solid;
    border-width: 10px 0 0 0;
    border-radius: 8px;
    border-color: rgb(103, 58, 183);
    margin-top: 10px;
}
ul{
   list-style: none; 
}
label{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

label span{
    font-size: 11pt;
    line-height: 15pt;
    letter-spacing: 0;
    font-family: Roboto,Arial,sans-serif;
}

.mcq-radio{
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.check{
    height: 20px;
    width: 20px;
    margin-right: 12px;
}


.short-ans input{
    border-width:0 0 2px 0 ;
    width:50%;
    border-color: #dadce0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    height: 40px;
    margin-top: 12px;
}
.twelve{
    margin-bottom: 12px;
}
.twelve-top{
    margin-top: 12px;
}

hr{
    margin: 12px 0 12px 0;
    border-top: 1px solid #dadce0;
    width: 100%;
}

.para input{
    border-width:0 0 2px 0 ;
    width:50%;
    border-color: #dadce0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    height: 40px;
    margin-top: 12px;
}

input:focus {
    outline: none; /* Remove the focus outline */
  }
select{
    width:176px;
    height: 48px;
    padding: 8px 48px 8px 16px;
    cursor: pointer;
    border: solid 2px #a7a5a5;
opacity: 0.5;
}
option{
    width:112px;
    height: 32px;
    cursor: pointer;
}
.file-upload input{
background-color: #fff;
color: #1a73e8;
}



.checkbox-grid {
    display: grid;
    gap: 5px;
    width: 590px;
    height: 221px;


    grid-template-areas: "z a b c"
                         "d e1 e2 e3"
                         "f e4 e5 e6"
                         "g e7 e8 e9";
  }
  .blank{grid-area: z;}
  .category-A{grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;}
  .category-B{grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;}
  .category-C{grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;}

  .option-1{grid-area: d;
    display: flex;
    align-items: center;}

  .option-2{grid-area: f;
    display: flex;
    align-items: center;}
  .option-3{grid-area: g;
    display: flex;
    align-items: center;}
  
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .checkbox-grid input{
    width: 20px;
    height: 20px;
  }

  .linear-grid {
    display: grid;
    width: 590px;
    height: 96px;
    gap: 5px;
    grid-template-areas:
      "z p q r s t y "
      "f e e e e e g";
  }
  .linear-grid input{
    width: 20px;
    height: 20px;
  }
  .linear-radio{
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  .blank2{grid-area: y;}
  .a { grid-area: p;
    display: flex;
    align-items: center;
justify-content: center; }
  .b { grid-area: q;
    display: flex;
    align-items: center; 
    justify-content: center;}
  .c { grid-area: r;
    display: flex;
    align-items: center; 
    justify-content: center;}
  .d { grid-area: s;
    display: flex;
    align-items: center; justify-content: center;}
  .e { grid-area: t;
    display: flex;
    align-items: center; justify-content: center;}
  .worst { grid-area: f;
    display: flex;
    align-items: center; justify-content: center;}
  .best { grid-area: g;
    display: flex;
    align-items: center; justify-content: center;}
  
  
  /* --------bottom--------- */
  .bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .progress{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom .submit{
    background:  rgb(103, 58, 183);;
    color: #fff;
    padding: 0 24px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    border-radius: 4px;
    transition: background .2s .1s;
    cursor: pointer;
    border: none;
  }
  .progress-bar{
    width: 184px;
    height: 10px;
    background: #34a853;
    border-radius: 40px;
  }
  .progress-text{
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    display: inline-block;
    padding: 0 12px;
  }
  .clear{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(103, 58, 183);
    transition: background .2s .1s;
    border-radius: 4px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 550;
    letter-spacing: .25px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin-right: 15px;
  }
  .footer{
    width: 100%;
  }
  .footer .first-text{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: rgba(0,0,0,0.66);
    margin-top: 8px;
    background-color: transparent;
    text-align: left;
  }
  .second-text{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: rgba(0,0,0,0.66);
    margin-top: 8px;
    background-color: transparent;
    text-align: center;
    margin-top: 12px;
  }
  .second-text span{
    text-decoration: underline;
    cursor: pointer;
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: center;
  }
  .google-forms{
    margin: 24px 0;
    text-align: center;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  .google{
    color: black;
    opacity: .55;
    text-decoration: none;
    background-color: #f0ebf8;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    cursor: pointer;
    height: 24px;
    aspect-ratio: auto 74 / 24;
    width: 74px;
    margin-right: 5px;
  }
  .forms{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 22.1px;
    position: relative;
    top: -6px;
    color: black;
    opacity: .55;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }



  .custom-file-input {
    display: inline-block;
    /* background-color: #e0e0e0; */
    background-color: transparent;
    border: 1px #dadce0 solid;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
  }
  .icon-add-file label{
    display: flex;
  align-items: center;
  width: 110px;
  }
  
  .custom-file-input input[type="file"] {
    display: none;
  }
  
  .custom-file-input span {
    font-size: 14px;
  }
  
  .custom-file-input::after {
    content: 'Add file';
    margin-left: 10px;
    background-color: transparent;
    color: #1a73e8;
  }
  
  .custom-file-input input[type="file"]:not(:focus) + span::after {
    content: 'Select a file';
    color: #333;
  }
  